<li class="sound sos-now-playing {{ css }} {{#if sos.isPlaylistGroupStart}}sos-playlist-group-start{{/if}} {{#if sos.showProgressCard}}sos-progress-card{{/if}} {{#if sos.showGroupBedCard}}sos-soundscape-bed-card{{/if}}"
    data-playlist-id="{{ playlistId }}" data-sound-uuid="{{ uuid }}" data-sound-id="{{ id }}">
    {{> "modules/the-sound-of-silence/templates/sos-sound-content.hbs" }}
</li>
